<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application>
        <service
            android:name=".audio.bridge.UhfBridgeService"
            android:exported="false"
            android:foregroundServiceType="microphone|mediaPlayback" />
    </application>

</manifest>
